---
import { Images } from "@assets/images";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(Images.logos.previewImage.src, Astro.site);

interface Props {
  title?: string;
  description?: string;
}
---
<title>{Astro.props.title}</title>
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" href={canonicalURL} hreflang="es" />

<meta name="description" content={Astro.props.description} />
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
<meta name="google" content="notranslate" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={Astro.props.title} />
<meta property="og:description" content={Astro.props.description} />
<meta property="og:image" content={socialImageURL} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={Astro.props.title} />
<meta property="twitter:description" content={Astro.props.description} />
<meta property="twitter:image" content={socialImageURL} />